@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.nav-bar {
  background-color: black;
  position: relative;
  width:100%;
  height: 4.5em;
  margin-bottom: 0;
z-index: 1000;
}



.nav{
  display:inline;
  padding-top: 2em;
  padding-left: .5em;
  padding-right: 2em;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-decoration: none;
    
}

.nav  a {
  color: #ffffff;
  text-decoration: none;
}

.logo {
 padding: 1.5em;
 margin-bottom: 0;
}


.wordmark {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    padding-bottom: 1em;
}

.wordmark  a {
  color: #ffffff;
  text-decoration: none;
}


img {
  height: 90%; 
  width: 100%;
}


h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    padding-top: 2em;
}

 
.profile {
  display: block;
  width: 90%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.name {
  padding-top: 1em;
  margin: 0 auto;
  text-align: left;
  max-width: 50em;
}

.project {
  padding-top: 3em;
    
}

.bio-h2 {
    margin-bottom: .75em;
}

.bio {
  padding-left: 12em;
  text-align: left;
  max-width: 45em;
  padding-top: 4em;
}

.hidden {
    color: white;
}

.mediabuttons {
  text-align: center;
  color: #000000;
    
}

.mainartwork {
    width: 100%;
}

.project-h2 {
  margin-bottom: .75em;
  padding-left: 2em;
  text-align: left;
  max-width: 40em;
  padding-top: 5em;
    color: white;
}

.projectbrief {
  padding-left: 2em;
  text-align: left;
  max-width: 40em;
    color: white;
}

.project-image {
  padding: 2em;
  padding-left: 4em;
}

.project {
    background-color: #000000;
    opacity: 0.85;
}


@media only screen and (min-width: 20em) {
  
   body {
    max-width:inherit;
    margin: 0 auto;
    padding: 0;
  }
    
.navigation {
  padding-top: 1em;
  text-align: left;
  padding-left: 2em;
  padding-bottom: 1em;
  text-decoration: none;
  display:inline-block;
  position:relative;
  list-style:none;
}

.bio {
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
  max-width: 45em;
  padding-top: 4em;
}

   
}

@media only screen and (min-width: 44em) {
    
.navigation{
  padding-top: 1em;
  text-align: left;
  padding-left: 2em;
  padding-bottom: 1em;
  text-decoration: none;
  display:inline-block;
  position:relative;
  list-style:none;
}

.content {
  margin: 0 auto;
}
  
.bio {
  padding-left: 6em;
  text-align: left;
  max-width: 45em;
  padding-top: 4em;
}
    
.logo {
  padding-left: 7em;
  padding-bottom: 1em;
}
          
}

@media only screen and (min-width: 60em) {
 
.content {
  margin: 0 auto;
}
  
  .logo {
  padding-left: 7em;
  padding-bottom: 1em;
}
  
.bio {
  padding-left: 12em;
  text-align: left;
  max-width: 45em;
  padding-top: 4em;
}
    
}