@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  height: 100%; 
    width: 100%;
}

profile {
    width: 100%;
}

.name {
  padding-top: 1em;  
  margin-left: 1em;
  color: #1c1a1b;
  text-align: left;
}

p {
  padding-top: 1em;  
  margin-left: 1em;
  color: #1c1a1b;
  text-align: left;
}

.info {
  text-align: left;
  padding-top: 2em;  
  margin-left: 2em;
  color: #1c1a1b;
}

li{
  display:inline;
  margin: auto;
  padding: 10px;
}

.links {
  text-align: left;
}

a {
  color: #1c1a1b;
}

a:hover {
  opacity: 0.2;
}

@media only screen and (min-width: 20em) {
  
   body {
    max-width:inherit;
    margin: 0 auto;
    padding: 0;
  }
    
}

@media only screen and (min-width: 44em) {
  
          
}

@media only screen and (min-width: 60em) {
  
  
}