<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>Brit Norris · Ottawa Based · Graphic Designer </title>
    <link rel="icon" href="{{site.baseurl}}/images/britnorfaviconblk.png">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/portfolio.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A Design Portfolio created by Brittany Norris · 2015 ">
</head>
<body>
    
<ul class="skip-links">
    <li><a href="#nav">Skip to Navagation</a></li>
    <li><a href="#main">Skip to Main Content</a></li>
</ul>
    
<header role="banner" class="nav-bar" id="top">
  <div class="grid">
    <div class="unit unit-s-1-5 unit-m-1-5 unit-l-1-5">
      <div class="logo">
<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/BrittanyNorrisWordmarkwhite.svg" alt="logo"></a>
        </div>
    </div>
      
    <div class="micro unit unit-xs-1-2 unit-s-1-2 unit-m-3-5 unit-l-3-5">
      <nav role="navagation" class="nav" id="nav">
        <ul>
          <li class="nav__item capitalize"><a href="{{site.baseurl}}/portfolio/">Work</a></li>
          <li class="nav__item capitalize"><a href="{{site.baseurl}}/about/">About</a></li>
    
        </ul>
     </nav>
    </div>
      
  </div>
</header>

<main role="main" id="main">
    
{{content}}
    
</main>
    
        
<footer role="contentinfo">

<a class="skip-links-bottom" href="#top"></a>
    
<div class="footer-bar micro pad-t">
  <ul class="footer_content">
    <li class="footie capitalize">
        <a href="https://www.behance.net/britnor" target="_blank">Behance</a>
    </li>
      
     <li class="footie capitalize">
        <a href="https://www.linkedin.com/nhome/?trk=" target="_blank">Linkedin</a>
    </li>
  </ul>
</div>
</footer> 
        
</body>
</html>