<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>Brit Norris · Ottawa Based · Graphic Designer </title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<header class="nav-bar">
  <div class="grid">
    <div class="unit unit-s-1-5 unit-m-1-5 unit-l-1-5">
      <div class="logo">
<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/BrittanyNorrisWordmarkwhite.svg" alt="logo"></a>
        </div>
    </div>
    <div class="micro unit unit-xs-1-2 unit-s-1-2 unit-m-3-5 unit-l-3-5">
      <nav class="nav">
        <ul>
          <li class="nav__item capitalize"><a href="{{site.baseurl}}/portfolio/">Portfolio</a></li>
          <li class="nav__item capitalize"><a href="{{site.baseurl}}/portfolio/">Contact</a></li>
        </ul>
     </nav>
    </div>
  </div>
</header>

{{content}}
        
<footer>
<div class="footer-bar media micro pad-t">
  <ul>
    <li class="footie capitalize">
        <a href="https://twitter.com/britnor52" target="_blank">Twitter</a>
    </li>
      
    <li class="footie capitalize">
        <a href="https://dribbble.com/brittanynorris" target="_blank">Dribble</a>
    </li>
      
     <li class="footie capitalize">
        <a href="https://www.linkedin.com/nhome/?trk=" target="_blank">Linkedin</a>
    </li>
  </ul>
</div>
</footer> 
        
</body>
</html>